@charset "utf-8";
/* CSS Document */

*html{ background-image:url(about:blank); background-attachment:fixed;}
/* html,body{ height:100%;} */
body{
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Microsoft YaHei;
	color:#333;
	background:#fff;
	/*text-align:center;*/
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{ margin:0px; padding:0px; list-style:none;}
a:link img,a:visited img,a:hover img{ border:none;}
a:link,a:visited{ color:#333; text-decoration:none;cursor: hand;}
a:hover{ color:#f00; text-decoration:underline;}
.center{ width:1000px; margin:0px auto; text-align:left;}
.center2{ width:866px; margin:0px auto; text-align:left;}
.clear{ clear:both;}
.fl{ float:left;}
.fr{ float:right;}
.hide{ display:none;}
.ml10{ margin-left:10px;}
.ml20{ margin-left:20px;}
.mt40{ margin-top:40px;}

.wrapper{ min-height:100%; _height:100%;}

/* sprite */
.location b,.left-nav li b,.add-architecture .head b,.item-list .tool b,.tool-list li a b,.list-title b,.list-title2 b{ background:url(../images/sprite.png) no-repeat;}
.head{cursor: hand;}
.col-left .title,#scroll .s-img li p{ background:url(../images/sprite-x.png) repeat-x;}

/* header */
.header{ height:131px; background:url(../images/header_bg.jpg) center top no-repeat;}
.header .account-info{ padding:15px 50px 0 0; text-align:right; color:#fff;}
.header .account-info a{ color:#54cffa; margin-left:25px;}
.header h1{ float:left; margin:20px 0 0 50px;}
.header h2{ float:right; margin:30px 50px 0 0;}
.banner{ height:113px; background:url(../images/banner_bg.jpg) center top no-repeat;}
.location{ height:56px; line-height:56px; font-size:14px; border-radius:5px 5px 0 0; background:#eee; position:relative; top:57px;}
.location b{ display:block; width:14px; height:14px; float:left; background-position:0 0; margin:21px 8px 0 12px;}

/* 页面主体内容 */
.content{ margin-top:10px;}
.col-left{ width:230px;}
.col-left .title{ height:50px; line-height:50px; text-align:center; font-size:16px; color:#fff; background-position:0 0; border-radius:5px 5px 0 0;}
.left-nav{ border:1px solid #ccc; border-radius:0 0 5px 5px;}
.left-nav .item{ border-bottom:1px solid #d2d2d2;}
.left-nav .last{ border-bottom:none;}
.left-nav .item-name{ display:block; height:40px; line-height:40px; font-size:14px; padding-left:38px; position:relative;}
.left-nav .item-name:hover,.left-nav .on1{ color:#0187d3; text-decoration:none;}
.left-nav .item-name b{ display:block; width:13px; height:13px; background-position:0 -31px; position:absolute; left:16px; top:14px;}
.left-nav .on1 b{ background-position:0 -16px;} 
.left-nav .sub-item li{ height:32px; line-height:32px;}
.left-nav .sub-item li a{ display:block; padding-left:50px;}
.left-nav .sub-item li a:hover{ color:#333; background:#d7effc; text-decoration:none;}
.left-nav .sub-item li a.on2{ background:#afe1fb;}

.col-main{ width:750px;}

/* 带tab切换的页面 */
.tab-title{ height:45px;}
.tab-title span{ display:inline-block; width:172px; height:44px; line-height:44px; text-align:center; font-size:14px; background:#e5e5e5; color:#999; border:1px solid #ccc; border-bottom:none; border-radius:5px 5px 0 0; margin-right:10px; cursor:pointer;}
.tab-title span.active{ background:#fff; color:#333; border-bottom:1px solid #fff;}
.tab-content{ min-height:700px; border:1px solid #ccc; border-radius:0 5px 5px 5px;}
.operate-row{ margin:30px 0 30px 16px;}
.operate-row label{ float:left; font-size:14px; margin-top:3px;}
.form-file{ float:left; position:relative;}
.right-btn{ float:right;}
.add-architecture{ width:224px; float:left; margin-left:19px;}
.add-architecture .head{ height:50px; line-height:50px; background:#78bce1; font-size:16px; color:#fff;}
.add-architecture .head b{ display:block; width:32px; height:32px; background-position:-16px 0; float:left; margin:10px 15px 0 32px;}
.item-list{ min-height:400px; border:1px solid #ccc;}
.item-list li{ height:40px; border-bottom:1px solid #d2d2d2;}
.item-list li:hover{ background:#e6f4fb;}
.item-list li p{ float:left; height:40px; line-height:40px; margin-left:10px;}
.item-list .tool{ float:right; margin-right:10px;}
.item-list .tool b{ display:inline-block; width:17px; height:17px; margin:11px 0 0 6px; cursor:pointer;}
.item-list .tool .b1{ background-position:0 -48px;}
.item-list .tool .b2{ background-position:0 -69px;}
.item-list .tool .b3{ background-position:0 -88px;}

/* 增加架构 */
.item-list li p{ /* 给a加样式，这样...也在a标签里 */
	width:110px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;/* IE/Safari */
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;/* Opera */
	-moz-binding:url("ellipsis.xml#ellipsis");/* FireFox */
}

.framemain{ border:1px solid #ccc; border-radius:5px;}
/* 不带tab切换的页面 */
.main{ height:800px; border:1px solid #ccc; border-radius:5px;}
.table-search{text-align:left;margin:10px;}
.table-search .pt{ padding-top:2px;}
.table-search .pt label{ font-size:14px; vertical-align: bottom;}
.table-search .pt select{line-height:24px; padding:2px 0;}
.table-search .width1{ width:134px;}
.operate-row2{ margin:0 16px;}

/* select重写 */
.select{ display:inline-block; border:1px solid #d7d7d7; cursor:pointer; position:relative;}
.select dt{ padding:0 22px 0 3px; height:26px; line-height:26px; background:url(../images/select_icon.gif) right center no-repeat; overflow:hidden;}
.select dd{ display:none; position:absolute; left:-1px; top:26px; z-index:1; background:#f9f9f9; border:1px solid #d7d7d7; width:100%; max-height:140px; overflow:auto;}
.select dd p{ padding-left:3px; height:26px; line-height:26px; overflow:hidden;}
.select dd p:hover{ background:#dedede;}

/* 表单元素 */
.input-text{ padding-left:3px; height:26px; line-height:26px; border:1px solid #ccc;}
.width260{ width:260px;}
.width195{ width:195px;}
.width190{ width:190px;}
.width160{ width:160px;}
.width150{ width:150px;}
.width120{ width:120px;}
.mr20{ margin-right:20px;}
.input-file{ width:252px; height:28px; position:absolute; left:0; top:0; opacity:0; filter:alpha(opacity:0);}
.btn{ cursor: hand;display:inline-block; height:28px; line-height:28px; border:none; border-radius:2px; background:#59c0f8; padding:0 12px; color:#fff; font-family:Microsoft YaHei; font-size:14px;}
.btn:hover{ cursor: hand;background:#71c8f8; text-decoration:none;}
.btn:active{ cursor: hand;position:relative; top:1px; background:#59c0f8;}
.btn-a:link,.btn-a:visited{cursor: hand; color:#fff;}
select{ height:28px; border:1px solid #ccc;}
select option{ height:26px;}
textarea{ width:500px; height:140px; padding:3px; border:1px solid #ccc;resize:none;}

/* 列表页面 */
.list{ margin:20px auto; background:#d2d2d2 url(../images/table_title_bg.gif) left top repeat-x; border-spacing:1px; text-align:center}
.list tr{ height:32px;}
.list th{ background:#96cce9;}
.list td{ background:#fff;}
.list tr:hover td{ background:#e4f2fb;}
.list a{ margin:0px 4px; color:#78bce1;}

/* 分页 */
.pages{ width:500px; margin:16px auto; text-align:center;}
.pages li{ float:left; margin-right:10px; text-align:center;}
.pages li a{ display:block; height:22px; line-height:22px; border:1px solid #d7d7d7;}
.pages li a:hover,.pages li a.active{ color:#fff; background:#33a4d8; border:1px solid #309dcf; text-decoration:none;}
.pages li .num{ width:26px;}
.pages li .btn1{ width:40px;}
.pages li .btn2{ width:60px;}
.pages li span{ display:block; width:26px; height:22px; line-height:22px; font-size:18px;}

/* 学生端 */
.sidebar{ height:780px; border:1px solid #ccc; border-radius:0 0 5px 5px;}
.member-face{ margin:24px 0 0 18px;}
.member-face img{ display:block; border:1px solid #57cdf3;}
.member-info{ width:80px; margin:38px 20px 0 0; text-align:center;}
.member-info .p-name{ font-size:16px; margin-bottom:20px; white-space:nowrap; overflow:hidden;}
.member-info a{ color:#044ffa;}
.left-nav2 li{ height:40px; line-height:40px; border-bottom:1px solid #d2d2d2;}
.left-nav2 li a{ display:block; padding-left:70px; font-size:14px;}
.left-nav2 li a:hover{ color:#333; background:#d7effc; text-decoration:none;}
.left-nav2 li a.active{ background:#afe1fb;}
.tool-title{ font-size:16px; margin:25px 0 15px 10px;}
.tool-list li{ float:left; margin:12px 0 0 10px; text-align:center;}
.tool-list li a{ display:block; width:60px; height:60px; border:1px solid #d4d4d4;}
.tool-list li a:hover{ border-color:#33b2ed; background:#daedfb;}
.tool-list li a b{ display:inline-block; width:40px; height:40px; margin:10px;}
.tool-list li a .b1{ background-position:0 -107px;}
.tool-list li a .b2{ background-position:-42px -107px;}
.tool-list li a .b3{ background-position:0 -149px;}
.tool-list li a .b4{ background-position:-42px -149px;}
.tool-list li a .b5{ background-position:0 -191px;}
.tool-list li p{ width:60px; white-space:nowrap; overflow:hidden; color:#666; margin-top:5px;}

/* 表单 */
.basic-info-title{margin: 15px 0 5px 38px; font-size:16px; border-bottom: dashed 1px #CCC;  color: rgb(44, 157, 217);}
.form-table{ margin:0px auto; font-size:14px;}
.form-table tr{ height:40px;text-align: left;}
.form-table tr td .ta{ height:160px;width:504px;overflow:auto;}
.form-table th{ width:auto; font-weight:normal;text-align: right;}
.form-table th span{ letter-spacing:7px;}
.form-table label{ margin:0 15px 0 5px;}

/* 登录 */
.login-banner{ height:113px; background:url(../images/banner_bg.jpg) center top no-repeat;}
.login-bg{ height:587px; background:url(../images/login_bg.jpg) center top no-repeat;}
.login-box{ width:608px; height:408px; margin:75px auto 0; background:url(../images/loginbox_bg.png) left top no-repeat; font-size:14px;}
.login-box p{ margin-bottom:15px;}
.login-box .p1{ padding-top:190px;}
.login-box .input-login{ width:280px; height:28px; line-height:28px; padding-left:36px; border:1px solid #55abce; font-size:14px; color:#999; vertical-align:middle;}
.login-box strong{ vertical-align:middle;}
.login-box .p1 .input-login{ background:url(../images/user_bg.gif) 10px 6px no-repeat;}
.login-box .p2 .input-login{ background:url(../images/password_bg.gif) 10px 6px no-repeat;}
.login-box label{ margin:0 40px 0 5px; vertical-align:middle;}
.login-box .p3{ padding-left:60px;}
.login-box .p4{ padding-left:30px;}
.login-box .p3 input,.login-box .p4 input{ vertical-align:middle;}
.login-box .btn-login{ width:82px; height:39px; border:none; background:url(../images/login_btn_bg.gif) left top no-repeat; font-size:16px; font-family:Microsoft YaHei; color:#fff;}
.login-box .btn-reg{ background:url(../images/reg_btn_bg.gif) left top no-repeat; color:#333; margin-left:40px;}

/* 系统提示 */
.tips-title{ padding-top:50px; margin:0 40px 0 20px; height:40px; border-bottom:1px solid #aaa; font-size:20px; font-weight:normal; color:#999;}
.tips-content{ margin:40px 0 0 80px;}
.tips-content b{ float:left; display:block; width:126px; height:126px; background:url(../images/exclamation.jpg) left top no-repeat;}
.tips-content p{ float:left; margin:50px 0 0 30px; font-size:20px; color:#999;}

/* 首页图片滚动 */
#scroll{ width:988px; height:269px; overflow:hidden; margin:-55px auto 0; position:relative;}
#scroll .s-img{ height:269px; position:absolute; left:0; top:0;}
#scroll .s-img li{ float:left; position:relative;}
#scroll .s-img li img{ display:block; width:988px; height:269px;}
#scroll .s-img li p{ position:absolute; left:0; bottom:0; width:100%; height:42px; line-height:42px; text-align:center; font-size:18px; color:#000; background-position:0 -50px;}
#scroll .s-btn{ position:absolute; left:25px; top:15px;}
#scroll .s-btn li{ float:left; margin-right:4px;}
#scroll .s-btn li span{ display:block; width:14px; height:14px; line-height:14px; background:#919093; text-align:center; color:#fff; cursor:pointer;}
#scroll .s-btn li span.on{ background:#ebebed; color:#f3be05;}

/* 首页列表模块 */
.list-block{ width:312px; height:260px; border:1px solid #dedede;}
.list-title{ text-align:center;}
.list-title span{ display:inline-block; margin-top:16px; font-size:18px;}
.list-title span b{ display:inline-block; width:20px; height:20px; vertical-align:middle; margin-right:5px;}
.list-title span .b1{ background-position:-50px 0;}
.list-title span .b2{ background-position:-50px -22px;}
.list-title span .b3{ background-position:-50px -44px;}
.more{ float:right; display:block; padding-right:18px; margin:6px 8px 0 0; color:#6dbbe6; background:url(../images/more_icon.gif) right top no-repeat;}
.item-list2{ margin:10px 34px;}
.item-list2 li{ height:22px; line-height:22px; padding-left:10px; background:url(../images/item_list_icon.gif) left center no-repeat;}
.item-list2 li span{ float:right; color:#666;}
.item-list2 li a{ width:148px;}
.item-list2 li a,.item-list3 li a{ /* 给a加样式，这样...也在a标签里 */
	display:inline-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;/* IE/Safari */
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;/* Opera */
	-moz-binding:url("ellipsis.xml#ellipsis");/* FireFox */
}
.practice{ margin:10px 0 0 6px;}
.recruit{ margin:10px 0 0 23px;}
.employment{ margin:10px 0 0 23px;}

.teacher-information{ height:195px; background:#f2f2f2; margin-top:10px;}
.teacher-information-icon{ width:123px; height:159px; background:url(../images/teachers_information_bg.jpg) left top no-repeat; margin:25px 0 0 35px;}
.teacher-list ul{ margin:30px 20px 0 0;}
.teacher-list li{ float:left; margin-right:22px;}
.teacher-list li a img{ display:block; width:126px; height:127px; border:1px solid #e3e3e3;}
.teacher-list li a:hover img{ border-color:#f00;}
.teacher-list li a p{ width:128px; white-space:nowrap; overflow:hidden; margin-top:5px; text-align:center;}
.project-information{ margin-top:10px;}
.project-information .project-title{ padding-left:24px;}
.project-information .project-title span{ font-size:18px; margin-right:5px;}
.project-information .project-title label{ color:#999;}
.project-information ul{ margin:20px 0 0 42px;}
.project-information li{ float:left; margin-right:24px;}
.project-information li a img{ display:block; width:202px; height:132px; padding:4px; border:1px solid #e3e3e3;}
.project-information li a:hover img{ border-color:#f00;}
.project-information li a p{ width:212px; white-space:nowrap; overflow:hidden; margin-top:5px; text-align:center;}

.main-title{ margin:30px 0 0 20px; font-size:16px;}
.btn-row{ margin:20px;}
.resume{ margin:0 20px; border:1px solid #ccc;}
.list2{ border-spacing:0; text-align:center;}
.list2 tr{ height:38px;}
.list2 th{ background:#eee; font-size:14px;}
.list2 td{ border-bottom:1px solid #e8e8e8;}
.list2 .last td{ border-bottom:none;}
.list2 tr:hover td{ background:#d9f0fc;}
.list2 td a{ margin:0 3px;}
.resume-title{ margin:0 20px; height:30px; line-height:30px; text-indent:12px; color:#fff; background:#1898dc; border-radius:3px 3px 0 0;}
.resume .wrap{ margin:0 30px;}
.resume .blue{ color:#0185cb;}
.resume .name{ padding-top:20px;}
.resume .name span{ font-size:28px; margin-right:30px;}
.resume .name label{ font-size:16px;}
.resume .email{ margin:20px 0 30px 0;}
.resume .resume-info th{ font-weight:normal;}
.resume .resume-info td{ text-align:left;}
.resume hr{ margin:20px 0; border:none; background:#ddd; height:1px;}
.resume dl{ margin-bottom:10px;}
.resume dt{ font-size:14px; font-weight:bold; line-height:1.8;}
.resume dd{ padding-left:12px; line-height:1.8;}
.btn-row2{ text-align:center; margin-top:20px;}

.left-nav3{ height:600px; border:1px solid #ccc; border-radius:0 0 5px 5px;}
.train-table{ border-spacing:1px; background:#ccc; text-align:center;}
.train-table tr{ height:30px;}
.train-table th{ background:#eee; font-size:14px; font-weight:normal;}
.train-table td{ background:#fff;}
.train-table tr:hover td{ background:#e4f2fb;}
.train-table td a{ color:#0068b7;}

.practice-title{ width:136px; height:40px; line-height:40px; text-align:center; background:#2c9dd9; color:#fff; border:1px solid #037fc1; font-size:18px; margin:20px 0 15px 0;}
.practice-table{ border-spacing:1px; background:#ccc; font-size:14px;}
.practice-table tr{ height:30px;}
.height120{ height:80px !important;}
.practice-table th{ width:130px; background:#fff; text-align:center; font-weight:normal;}
.practice-table td{ background:#fff; color:#999; padding:0 20px;}
.p-item{ font-size:14px; margin:10px 0;}
.p-checkbox{ margin-top:10px;}
.p-checkbox label{ font-size:14px; color:#f00; margin-left:5px; vertical-align:middle;}
.p-checkbox input{ vertical-align:middle;}
.btn-row3{ margin-top:30px; text-align:center;}

.advanced-search:link,.advanced-search:visited{ font-size:14px; color:#045cfe; margin-left:10px;}
.blue-border{ display:inline-block; height:20px; line-height:20px; text-align:center; border:1px solid #5a9dd0; color:#0068b7;}
.advanced-search-condition{ padding:15px 20px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; position:relative;}
.condition-row{ margin-top:4px 0;}
.condition-row .filter{ float:left; width:66px;}
.condition-row .filter-detail{ float:left; width:800px;}
.condition-row .filter-detail li{ float:left; margin-left:10px; height:28px; line-height:28px;}
.advanced-search-condition .shouqi{ width:80px; height:22px; line-height:22px; text-align:center; border:1px solid #ccc; border-top:none; position:absolute; left:50%; bottom:-23px; margin-left:-40px; cursor:pointer;}
.advanced-search-condition .shouqi:hover{ text-decoration:none;}

.list-block2{ width:486px; height:254px; border:1px solid #ccc; margin-top:18px;}
.list-title2{ height:32px; line-height:32px; border-bottom:1px solid #ccc;}
.list-title2 a{ float:right; display:block; width:46px; height:14px; line-height:14px; text-align:center; color:#fff; background:#fda05c; border:1px solid #e0660d; margin:8px 20px 0 0;}
.list-title2 a:hover{ text-decoration:none;}
.list-title2 strong{ display:block; width:100px; height:32px; border-bottom:1px solid #00a0e9; font-size:14px; color:#00a0e9;}
.list-title2 b{ display:block; width:16px; height:16px; float:left; margin:8px 6px 0 15px;}
.list-title2 .b1{ background-position:-73px 0;}
.list-title2 .b2{ background-position:-73px -18px;}
.list-title2 .b3{ background-position:-73px -36px;}
.list-title2 .b4{ background-position:-73px -54px;}
.item-list3{ margin-top:10px;}
.item-list3 li{ height:28px; line-height:28px; padding-left:20px; border-bottom:1px dashed #e5e5e5;}
.item-list3 li a{ width:360px;}
.item-list3 a:hover{ text-decoration:none;}
.icon-list{ margin-left:10px;}
.icon-list li{ float:left; width:54px; margin:10px 0 0 50px; text-align:center;}
.icon-list li a{ display:block;}
.icon-list li a:hover{ text-decoration:none;}
.icon-list li a p{ white-space:nowrap; overflow:hidden;}
.calendar{ width:305px; height:187px; margin:15px auto 0;}

/* footer */
.footer-fixer{ position:relative; height:130px; margin-top:30px;}
.footer{ position:absolute; left:0; width:100%; height:125px; border-top:5px solid #eee; margin-top:-130px;}
.footer p{ font-size:14px; color:#9fa3ad; line-height:24px; margin-top:28px;}

/*不可编辑input样式*/
/* input[readonly]{background-color: #efefef;border:1px solid #ccc;font-style:normal;}
textarea[readonly]{background-color: #efefef;border:1px solid #ccc;font-style:normal;} */
/* input[readonly]{background-color:#ffffff;font-style:normal;}
input[disabled]{background-color:#ffffff;font-style:normal;border:1px solid #ccc;} */

/*----1.16岗位信息-----*/
.tab-content{min-height:588px;}
.detail_top{ width:745px; overflow:hidden; margin-bottom:30px;}
.detail_top dt{width:255px; height:62px; margin-top:100px;}
.detail_top dd{width:420px; margin-left:35px;}
.det_h4{ text-align:center; font-size:18px; color:#000; line-height:50px; margin-top:20px;}
.det_p{ font-size:14px; color:#000; line-height:24px; margin-bottom:10px;}
.detail_ul{overflow:hidden; padding:10px 40px;}
.detail_ul li{ border-bottom:1px dashed #d3d3d3; line-height:36px; height:36px; font-size:14px;}
.detail_ul li a{color:#555353;}
.detail_ul li p{float:left;}
.detail_ul li span{display:block; float:right; font-size:12px;}
