<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.madiot.enterprise.dao.EnterpriseDao">
    <resultMap type="com.madiot.enterprise.model.EnterpriseVo" id="enterpriseResult">

    </resultMap>

    <select id="getEnterpriseByNameAndRegDate" resultMap="enterpriseResult">
        <bind name="name" value="'%' + _parameter.name + '%'"/>
        SELECT
        t.`name`,
        t.business_scope,
        t.legal_person,
        t.id,
        t.phone,
        t.reg_address,
        t.reg_date,
        i.`name` AS industry,
        r.`name` AS reg_auth
        FROM
        t_enterprise t
        LEFT JOIN c_industry i ON i.`code` = t.industry_code
        LEFT JOIN c_registration_authority r ON r.`code` = t.reg_auth_code
        <where>
            t. NAME LIKE #{name}
            <if test="beginDate != null">
                AND t.reg_date &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND t.reg_date &lt;= #{endDate}
            </if>
        </where>
        <if test="startNum > 0 and pageSize > 0">
          limit #{startNum},#{pageSize}
        </if>
    </select>

    <select id="countEnterpriseByNameAndRegDate" resultType="int">
        <bind name="name" value="'%' + _parameter.name + '%'"/>
        SELECT
        count(1)
        FROM
        t_enterprise t
        <where>
            t. NAME LIKE #{name}
            <if test="beginDate != null">
                AND t.reg_date &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND t.reg_date &lt;= #{endDate}
            </if>
        </where>
    </select>

    <insert id="save"
            parameterType="com.madiot.enterprise.model.EnterpriseVo"
            useGeneratedKeys="true">
        insert into
        t_enterprise(name, business_scope, legal_person, phone, reg_address,
          reg_date, industry_code, reg_auth_code, update_user_id, update_time)
        values(#{name}, #{businessScope}, #{legalPerson}, #{phone}, #{regAddress},
        #{regDate}, #{industryCode}, #{regAuthCode}, #{updateUserId}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.madiot.enterprise.model.EnterpriseVo">
        update
        t_enterprise
        set name=#{name},business_scope=#{businessScope},
        legal_person=#{legalPerson}, phone=#{phone}, reg_address=#{regAddress},
        reg_date=#{regDate}, industry_code=#{industryCode}, reg_auth_code=#{regAuthCode},
        update_user_id=#{updateUserId}, update_time=#{updateTime}
        where
        id=#{id}
    </update>
</mapper>